{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

</br> </br> </br>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <label>
        <input type="checkbox" name="remember_me" > Se souvenir de moi
    </label>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>
</form>
<br/>

{# <label for="inputEmail">Mot de passe oublié ?</label>
<button><a href="{{ path('app_profile_password') }}">Récupérer mon mot de passe</a><input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus></button> #}
<h4> Pas de compte ? Rejoignez notre communauté et gagnez en connaissance :</h4>

<div class="containerPrincipal">
<div class="container">
    <p class="badge">Etre visible par sa connaissance </p>
    <p class="text">Devenir partenaire</p>
</div>
<div class="container">
    <p class="badge">Avoir la connaissance à portée de main</p>
    <p class="text">Devenir membre</p>
</div>
</div>
	
{% endblock %}
