{# {% extends 'base.html.twig' %}

{% block title %}Publications{% endblock %}

    
{% block body %}

{% include 'components/_slogan.html.twig' %}
<br/><br/>

{% if app.user %}                                           
    <button class="debutPage"><a  href="{{ path('app_publication_new') }}">Nouvelle Publication</a></button>
{% endif %}
    <br/>
    <h2 class="debutPage">Nos dernières publications</h2>
        {% for publication in publicationPubliee %}
                   {% include 'components/_publications.html.twig' %}
        {% endfor %}
{% endblock %} #}
