{% extends 'base.html.twig' %}

{% block title %}New Publication{% endblock %}

{% block body %}
<br/><br/><br/><br/>
    <h1>Nouvelle publication</h1>
    <div class="creationForm">
        {{ include('publication/_form.html.twig') }}
    </div>
    
     {# Affichez les messages flash dans le template #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    
{% endblock %}
