{% extends 'base.html.twig' %}

{% block title %}New Publication{% endblock %}

{% block body %}
    <h1>Create new Publication</h1>

    {{ include('publication/_form.html.twig') }}
    
     {# Affichez les messages flash dans le template #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    
    <a href="{{ path('app_home') }}">back to list</a>
{% endblock %}
