@import "custom.scss";

body {
    background-color: $light;
    font-size : 18px;
}

// .debutPage{
//     top: 180px;
//     margin-bottom : 20px;
// }




// sur tout le site retire les border et padding et margin
.creationForm {
        // border:none;
        padding:20px 30px;
        // margin:20px 30px;
        width : 90vw;
        margin : 0 auto;
}
    



//   choix multiples avec barre de scroll
// .form_scrollable-checkboxes {
//     display: flex;
//     flex-direction: column;
//     height: 10rem;
//     width: 400px;
//     overflow: scroll;
//     background-color: white;
//     input {
//         float: left;
//     }
// }



// -------------------NAVBAR-------------------

header{
    height : 100px;
}
.navbar{
    display:flex;
    position : fixed;
    width : 100%;
    z-index:6;
    padding-top:0;
    padding-bottom: 0;
}
// couleur écriture logo
.navbar-brand {
    color: $light;

}
// couleur liens
.nav-link{
    color: $light;
    font-size:x-large;
}

.nav-link:hover {
    color: $light;
    margin-top: -5px;
    text-shadow: 
    1px 1px 3px $tertiary;
}

.container-fluid {
    background-color: $primary;
    color: white;
    text-decoration: none;
}

.btn-outline-success {
    font-size: medium ;
}
/*vue mobile*/
@media (max-width:767px) {
    .btn-outline-success {
        font-size: x-large ;
    }
}

// -----------------fin navbar-----------------

// ----------NAVBAR RESULTATS DE RECHERCHE-----------
.nav-tabs {
    display:flex;
    position:fixed;
    width:100%;
    z-index:5;
    padding-top: 45px;
    border-bottom: 1px solid $secondary;
    background-color: $light;
    height : 100px;
}

/*vue mobile*/
@media (max-width:767px) {
    .nav-tabs .nav-link {
        font-size: 9px;
    }
    .nav-tabs {
        height : 80px;
    }
}



// ------------fin navbar resultats de recherche-------------


// ----------BOUTONS D'INSCRIPTION EN PAGE LOGIN-----------


$easing: all 0.5s cubic-bezier(.55,0,.1,1);
$base-size: 100px;

.containerPrincipal {
    display: flex;
}
.containerRegister{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.badge {
    display: block;
    position: relative;
    width: $base-size*4;
    height: $base-size*4;
    line-height: $base-size*2;
    // flex-wrap: wrap;
    cursor: pointer;
    background: rgba($secondary,1);
    border-radius: 50%;
    border: 5px $primary;
    transition: $easing;
    box-shadow: 0px .5rem 1rem rgba(0,0,0,.75);}

.badge p{
    flex-wrap: wrap;
}
.badge:hover {
      box-shadow: 0px .5rem 2rem rgba(0,0,0,.75);
      background-position: 0% 50%;
    }
 
.text {
        display: block;
        position: relative;
        width: $base-size*2;
        height: $base-size*2;
        line-height: $base-size*2;
        margin-top: $base-size;
        margin-left: -$base-size;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        background: $primary;
        transform: rotate(-180deg) translate(-50px) rotate(180deg);
        box-shadow: 0px .5rem 1rem rgba(0,0,0,.5);
        transition: $easing;
      }
.text:hover {
        transform: rotate(-45deg) translate(0px) rotate(-315deg);
        background: rgba($primary,.5);
        width: $base-size*4;
        letter-spacing: 10px;
        line-height: $base-size*4;
        height: $base-size*4;
        margin-top: 0;
        margin-left: -$base-size*4;
        transition:
          $easing,
          letter-spacing 1.5s ease-out;
      }
    
/*vue mobile*/
@media (max-width:767px) {
    $base-size: 50px;

    .containerPrincipal {
        display: flex;
    }
    .containerRegister{
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .badge {
        display: block;
        position: relative;
        width: $base-size*4;
        height: $base-size*4;
        line-height: $base-size*4;
        margin-left: -$base-size;
        flex-wrap: wrap;
        cursor: pointer;
        background: rgba($secondary,1);
        border-radius: 50%;
        border: 5px $primary;
        transition: $easing;
        box-shadow: 0px .5rem 1rem rgba(0,0,0,.75);
    }
    
    .badge p{
        flex-wrap: wrap;
    }
    .badge:hover {
          box-shadow: 0px .5rem 2rem rgba(0,0,0,.75);
          background-position: 0% 50%;
        }
     
    .text {
            width: $base-size*2;
            height: $base-size*2;
            line-height: $base-size*0.9;
            margin-top: $base-size*2.5;
            margin-left: -$base-size*3;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            background: $primary;
            transform: rotate(-180deg) translate(-50px) rotate(180deg);
            box-shadow: 0px .5rem 1rem rgba(0,0,0,.5);
            transition: $easing;
          }
    .text:hover {
            transform: rotate(-45deg) translate(0px) rotate(-315deg);
            background: rgba($primary,.5);
            width: $base-size*4;
            letter-spacing: 10px;
            line-height: $base-size*1.8;
            height: $base-size*4;
            margin-top: 0;
            margin-left: -$base-size*4;
            transition:
              $easing,
              letter-spacing 1.5s ease-out;
          }
}

/*vue tablette*/
@media (min-width:768px) and (max-width:1199px) {
    $base-size: 70px;
    .containerPrincipal {
        display: flex;
    }
    .containerRegister{
        display:flex;
        align-items: center;
        justify-content: center;
        
    }
    .badge {
        display: block;
        position: relative;
        width: $base-size*4;
        height: $base-size*4;
        line-height: $base-size*4;
        margin-left: -$base-size;
        flex-wrap: wrap;
        cursor: pointer;
        background: rgba($secondary,1);
        border-radius: 50%;
        border: 5px $primary;
        transition: $easing;
        box-shadow: 0px .5rem 1rem rgba(0,0,0,.75);}
    
    .badge p{
        flex-wrap: wrap;
    }
    .badge:hover {
          box-shadow: 0px .5rem 2rem rgba(0,0,0,.75);
          background-position: 0% 50%;
        }
     
    .text {
            // display: block;
            // position: relative;
            width: $base-size*2;
            height: $base-size*2;
            line-height: $base-size*2;
            margin-top: $base-size*2.5;
            margin-left: -$base-size*3;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            background: $primary;
            transform: rotate(-180deg) translate(-50px) rotate(180deg);
            box-shadow: 0px .5rem 1rem rgba(0,0,0,.5);
            transition: $easing;
          }
    .text:hover {
            transform: rotate(-45deg) translate(0px) rotate(-315deg);
            background: rgba($primary,.5);
            width: $base-size*4;
            letter-spacing: 10px;
            line-height: $base-size*2.2;
            height: $base-size*4;
            margin-top: 0;
            margin-left: -$base-size*4;
            transition:
              $easing,
              letter-spacing 1.5s ease-out;
          }
}
  
  

// ----------FIN BOUTONS INSCRIPTION SUR PAGE LOGIN-----------


// -------------------HOME-------------------
.hidden {
    opacity:0;
  }
.console-container {
   
    font-family:Khula;
    font-size:3em;
    height:20px;
    display:block;
    position:absolute;
    margin-top : 50px;
    margin-bottom : 40px;
  }
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.10em;
    left:10px;
  }

/*vue tablette*/
@media (min-width:768px) and (max-width:1199px) {
    .console-container {
        font-size:39px;
    }
}


/*vue mobile*/
@media (max-width:767px) {
    .console-container {
        font-size:25px;
    }
}


// -------------------FIN HOME-------------------

a {
    text-decoration: none;
    color: black;
}


button{
    background: linear-gradient($tertiary, $secondary);
    color: $light !important;
    border: 1px $secondary solid;
    border-radius: 8px;
}
button:hover{
    background : $tertiary;
}

button a{
    color: $light;
}

.btnAbonnements{
    align-content : center;
}


//-----------------------PUBLICATIONS ET ARTICLES-----------------

article{
    width : 90vw;
    margin : 0 auto;
    // display:flex;
    flex-direction:column;
}
.publicationBody{
    display:flex;
    margin: 0 auto;
    align-items:space-between;
}
.publicationBodyLeft{
    width: 30%;
}
.publicationBodyRight{
    width: 70%;
}
.publicationDomaines{
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
}
.publicationDomaines button {
    margin-right: 5px;
    margin-bottom:3px;
}

// publication individuelle
.publicationFooter{
    display: flex;
    flex-direction:row;
    // justify-content: space-between;
    
    flex-wrap: wrap;
}

.publicationFooter button{
    margin: 10px;
}


.alert {
    background-color: $tertiary;
    color: $light;
    border: 2px solid $secondary;
    border-radius: 10px;
}

// partage de publication sur réseaux sociaux
.partage{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}

// .partage i{
//     size : 100px;
// }

.rs{
    width : 100px;
    height: 100px;
}
// -------------------FIN PUBLICATIONS ET ARTICLES-----------------

// ---------------------COMMENTAIRES---------------------
.commentaire{
    width : 90%;
    margin : 0 auto;
}

.commentaire p{
    margin : 0px;
}

.commentaireForm button{
    margin : 5px;
}

.enfant {
    margin-left : 60px;
}

.petitEnfant {
    margin-left : 120px;
}

.commentaireReponse{
    color : $secondary;
    font-style: italic;
    margin-top : 0;
}


// -------------------FIN COMMENTAIRES---------------------
.buttonUsers {
    width : 80%;
}

/*vue mobile*/
@media (max-width:767px)  {
    .publicationBodyLeft{       
       font-size: 12px;
    }

    
}


// -------------------FOOTER---------------------
footer {
    text-align: center;
    // margin: 0px 0px 0 0px;
    // padding-bottom : 0px;
    // position : relative;
    background-color: $primary;
    color : $light;
    
}
footer a {
    color: $light;
    text-decoration: none;
    text-align: center;
}

footer a:hover {
    color: $light;
    text-decoration: underline;
}

.footer-slogan {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding : 10px;
}


// -------------------FIN FOOTER---------------------