{% extends "base.html.twig" %}

{% block title %}Nous connaître{% endblock %}
{% block body %}
</br> </br>
<a href="{{ path('app_mentions_legales_edit', {'id': 6}) }}">edit</a>
{% set mention = mentions|filter(item => item.id == 6)|first %}
{{ mention.contenu|raw }}
{% endblock %}