{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}
{% block body %}
</br> </br>
{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('app_mentions_legales_edit', {'id': 5}) }}">edit</a>
{% endif %}
{% set mention = mentions|filter(item => item.id == 5)|first %}
{{ mention.contenu|raw }}
{% endblock %}