{% extends "base.html.twig" %}

{% block title %}FORUM IMMOBILIER{% endblock %}
{% block body %}
  
<br/><br/>
{# phrase d'accueil défilante avec JS #}
<div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
<br/><br/>

{% if app.user %}                                           
    <button><a href="{{ path('app_publication_new') }}">Nouvelle Publication</a></button>
{% endif %}
    <br/>
    <h2>Nos dernières publications</h2>
        {% for publication in publicationPubliee %}
                   {% include 'components/_publications.html.twig' %}
        {% endfor %}
        
{% endblock %}

