{% extends "base.html.twig" %}

{% block title %}FORUM IMMOBILIER{% endblock %}
{% block body %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#resultatspublications">Publications et articles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#resultatsutilisateurs">Utilisateurs</a>
  </li>
</ul>
<br/><br/><br/><br/><br/>

{# ------------------------------------------------------------------------------------------------------
------------------------------RESULTATS DE LA BARRE DE RECHERCHE PUBLICATIONS ET ARTICLES---------------
------------------------------------------------------------------------------------------------------ #}

   {# Affichez les résultats si le formulaire est soumis #}
    {% if app.request.query.has('keyword') %}
        {# Traitez la recherche et affichez les résultats ici #}
        <h2 id="resultatspublications">Résultats des Publications et Articles ({{ publicationResults|length }}): </h2><br/>
            
                {# publicationResults est défini dans HomeController, provient de la fonction de recherche dans le Repository PUblication #}
                {% if publicationResults is empty %}
                    <ul>
                        <p>Aucun résultat trouvé.</p>
                    </ul>
                {% else %}
                    <ul>              
                            {% for publication in publicationResults %}
                                {% if publication.contenu or publication.titre is defined %}
                                    {% include 'components/_publications.html.twig' %}
                                {% endif %}
                            {% endfor %}
                    </ul>
                {% endif %}
           
    {% endif %}
{# ----------------------------------------------------------------------------------------------------
------------------------------------FIN DES RESULTATS DE LA BARRE DE RECHERCHE -----------------------
--------------------------------------PUBLICATIONS ET ARTICLES----------------------------------------
------------------------------------------------------------------------------------------------------ 



{# ------------------------------------------------------------------------------------------------------
------------------------------RESULTATS DE LA BARRE DE RECHERCHE PROFILS UTILISATEURS---------------
------------------------------------------------------------------------------------------------------ #}                                 
    {% if app.request.query.has('keyword') %}
        {# Traitez la recherche et affichez les résultats ici #}
        <h2 id="resultatsutilisateurs">Résultats Profils Utilisateurs ({{ userResults|length }}) : </h2><br/>
        {# userResults est défini dans HomeController, provient de la fonction de recherche dans le Repository User #}
        {% if userResults is empty %}
            <ul>
                <p>Aucun résultat trouvé.</p>
            </ul>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Roles</th>
                        <th>Prénom Nom</th>
                        <th>Métier</th>
                        <th>Inscrit depuis le </th>
                        {% if is_granted('ROLE_ADMIN') %} 
                            <th>Id</th>
                            <th>Email</th>
                            <th>Actif</th>
                            <th>AcceptationCgu</th>
                            <th>Newsletter</th>
                            <th>UpdatedAt</th>
                            <th>DeletedAt</th>
                            <th>actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for user in userResults %}
                        {% include 'components/_users.html.twig' %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}

    {# ----------------------------------------------------------------------------------------------------
------------------------------------FIN DES RESULTATS DE LA BARRE DE RECHERCHE -----------------------
-----------------------------------------PROFILS UTILISATEURS----------------------------------------
------------------------------------------------------------------------------------------------------ #}




    {# ----------------------------------------------------------------------------------------------------
------------------------------------FIN DES RESULTATS DE LA BARRE DE RECHERCHE -----------------------
------------------------------------------------------------------------------------------------------ #}

{% endblock %}

