{% if app.user %}
    {% set hasLiked = publication.likes.contains(app.user) %}

    <form method="post" action="{{ path('app_publication_like', {'id': publication.id}) }}">
        <button>
            <i class="ri-thumb-{{ hasLiked ? 'down' : 'up' }}-fill"></i>
            {{ publication.likes|length }}
        </button>
        <input type="hidden" name="_token" value="{{ csrf_token('publicationLike' ~ publication.id) }}">
    </form>
{% endif %}