{% extends 'base.html.twig' %}

{% block title %}Gestion{% endblock %}

{% block body %}
{% include 'components/_slogan.html.twig' %}
 </br></br></br><br/><br/>

    <h1>Gestion des dossiers en attente</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <h2>Nouveaux profils Partenaires à valider</h2>
                {% if partenairesNonActifs is empty %}
            <ul>
                <p>Aucun résultat trouvé.</p>
            </ul>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Roles</th>
                        <th>Prénom Nom</th>
                        <th>Métier</th>
                        <th>Inscrit depuis le </th>
                        {% if is_granted('ROLE_ADMIN') %} 
                            <th>Id</th>
                            <th>Email</th>
                            <th>Actif</th>
                            <th>AcceptationCgu</th>
                            <th>Newsletter</th>
                            <th>CreatedAt</th>
                            <th>actions</th>
                            <th>Activation du profil</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for user in partenairesNonActifs %}
                        {% include 'components/_profils.html.twig' %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
          
     {% endif %}

     {% if is_granted('ROLE_ADMIN')or is_granted('ROLE_PARTENAIRE') %}
        <h2>Publications à valider</h2>
            {% for publication in publicationBrouillonMembre %}
                        {% include 'components/_publications.html.twig' %}
            {% endfor %}
     {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <h2>Gestion des titres</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for titre in titres %}
                <tr>
                    <td>{{ titre.nom }}</td>
                    <td>
                        <button><a href="{{ path('app_admin_titre_edit', {'id': titre.id}) }}">Modifier</a></button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <button><a href="{{ path('app_admin_titre_new') }}">Nouveau titre</a></button>
    {% endif %}

{# Mon classement :   A mettre aussi dans le profil
NOmbre de commentaire choix retenu
+ NOmbre de likes (à mes publications et commentairees)
=nombre de points total = utilité de l'user

Liste des profils à activer (visible que par admin)

LIste des articles en brouillon (visible que par admin)

Liste de mes publications en attente (pour les membres)

Liste des publications (hors articles) à valider (par partenaires et admin)

Liste des nouveaux commentaires à mes publications (tous)

Liste de mes publications en attente d'un choix de commentaire retenu par moi (pour tous)

Liste des personnes ayant répondu à mes commentaires (visible par tous) #}


{% endblock %}
