{% extends 'base.html.twig' %}

{% block title %}Gestion{% endblock %}

{% block body %}
 </br></br></br>

    <h1>Gestion des dossiers en attente</h1>

     {# <h2>Publications à valider</h2>
     <div class="grillePublications">
        {% for publication in publications %}
            {% if 'ROLE_ADMIN' not in publication.user.roles %}
                {% if publication.statut == false %}
                    {% include 'components/_publications.html.twig' %} #}
             
                            {# {% if app.user is not null and ('ROLE_ADMIN' or 'ROLE_PARTENAIRE' in app.user.roles or publication.user == app.user) %}
                                <td>
                                    <button class="publish-button" data-publication-id="{{ publication.id }}" type="button">Publier la publication</button>
                                </td>
                            {% endif %} #}
                        
                    {# {% if app.user is not null and ('ROLE_ADMIN' or 'ROLE_PARTENAIRE' in app.user.roles or publication.user == app.user) %} #}
                    
                {# {% endif %}
            {% endif %}
        {% endfor %}
     </div> #}
     {% if is_granted('ROLE_ADMIN')or is_granted('ROLE_PARTENAIRE') %}
        <h2>Publications à valider</h2>
        <div class="grillePublications">
            {% for publication in publicationBrouillonMembre %}
                        {% include 'components/_publications.html.twig' %}
            {% endfor %}
        </div>
     {% endif %}

     <h2> Mes brouillons</h2>
     <div class="grillePublications">
        {% for publication in brouillons %}
            {% include 'components/_publications.html.twig' %}
        {% endfor %}
     </div>

Mon classement :   A mettre aussi dans le profil
NOmbre de commentaire choix retenu
+ NOmbre de likes (à mes publications et commentairees)
=nombre de points total = utilité de l'user

Liste des profils à activer (visible que par admin)

LIste des articles en brouillon (visible que par admin)

Liste de mes publications en attente (pour les membres)

Liste des publications (hors articles) à valider (par partenaires et admin)

Liste des nouveaux commentaires à mes publications (tous)

Liste de mes publications en attente d'un choix de commentaire retenu par moi (pour tous)

Liste des personnes ayant répondu à mes commentaires (visible par tous)


{% endblock %}
