{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

    
{% block body %}
<br/><br/>
{# phrase d'accueil défilante avec JS #}
<div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
<br/><br/><br/><br/>
    <h1>Liste des articles</h1>
    <div class="grillePublications">
        {% for publication in articlePublie %}
            {% include 'components/_publications.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
