{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

    
{% block body %}
{% include 'components/_slogan.html.twig' %}
<br/><br/><br/><br/><br/>
    <h1>Liste des articles</h1>
    <div class="grillePublications">
        {% for publication in articlePublie %}
            {% include 'components/_publications.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
