{% extends 'base.html.twig' %}

{% block title %}Domaine index{% endblock %}

{% block body %}
{% include 'components/_slogan.html.twig' %}
</br><br/><br/></br><br/>
    <h1>Nos domaines</h1>

    <div>
        {% for domaine in domaines %}
          
                <button class="publication"> <a href="{{ path('app_domaine_show', {'id': domaine.id}) }}">{{ domaine.nom }}</a></button>
              
        {% endfor %}
    </div>
{% if is_granted('ROLE_ADMIN')  %}
    <a href="{{ path('app_domaine_new') }}">Créer un nouveau domaine</a>
{% endif %}
{% endblock %}
